---
import ContractsList from "../../components/contracts-list/ContractsList.astro"
import RootLayout from "../../components/layout/Root.astro"

---
<RootLayout
  description={""}
  title="Builder service">
  <Fragment slot="body">
    <main>
      <h1>Builder</h1>
      <ContractsList />
    </main>
  </Fragment>
</RootLayout>
