---
import RootLayout from "../../layouts/Root.astro"

import Button from "./Button"


---
<RootLayout
  description={""}
  title="Builder service">
  <Fragment slot="body">
    <main>
      <h1>Builder</h1>
      <Button client:load />
    </main>
  </Fragment>
</RootLayout>
