---
import ContractsList from "../../components/ContractsList/ContractsList.astro"
import RootLayout from "../../layouts/Root.astro"

import Button from "./Button"


---
<RootLayout
  description={""}
  title="Builder service">
  <Fragment slot="body">
    <main>
      <h1>Builder</h1>
      <div class="mb-6">
        <Button client:load />
      </div>
      <ContractsList />
    </main>
  </Fragment>
</RootLayout>
