---
import Logo from "../logo/Logo.astro"


---
<footer class="shrink-0 container row overflow-hidden h-14 my-3 lg:my-4 rounded-lg shadow-xl bg-sky-600 text-sky-50">
  <p class="text-sm">
    <span>Contracts Builder</span>
    <span> © Paragraph.red</span>
    <span>&nbsp;</span>
    {new Date().getFullYear()}
  </p>
  <Logo />
</footer>
