---
import RootLayout from "../components/layout/Root.astro"

---
<RootLayout title="404: Not Found">
  <Fragment slot="body">
    <main class="mt-6">
      <h1>404: Not Found</h1>
      <p class="mt-4">It's gone 😞</p>
    </main>
  </Fragment>
</RootLayout>
