---
import PageLayout from "../layouts/Page.astro"

---
<PageLayout title="404: Not Found">
  <main slot="body">
    <h1 class="">404: Not Found</h1>
    <p class="mt-4">It's gone 😞</p>
  </main>
</PageLayout>

<style>
  main {
    @apply m-4
  }
</style>
