---
import RootLayout from "../layouts/Root.astro"
import {getRecordBySlug} from "../pocketbase/pocketbase"


const content = await getRecordBySlug("posts", "/")

---
<RootLayout description={content?.description}>
  <main slot="body">
    <div set:html={content?.text} />
  </main>

  <!-- TODO: partytown -->
	<!-- <script type="text/partytown" src="fancy-analytics.js"></script> -->
</RootLayout>
