---
export interface Props {
  title?: string | undefined
  description?: string | undefined
}

const {
  title,
  description = "Build contracts with ease",
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width"
      name="viewport" />
    <link
      href="/favicon.ico"
      rel="icon"
      type="image/x-icon" />
    <title>Contracts Builder{title ? " · " + title : ""}</title>
    <meta
      content={description}
      name="description" />
  </head>
  <body>
    <slot name="body" />
  </body>
</html>

<style>
  :root {
  }

  html {
    font-size: 100%;
    @apply bg-amber-50 text-gray-800 p-2 lg:p-3 antialiased;
  }

  body {
    @apply rounded-lg shadow-lg drop-shadow-md bg-gray-50 p-2 lg:p-3;
  }

  :global(h1) {
    font-size: 1.61rem;
    font-weight: 700;
  }

  :global(h2) {
    font-size: 1.21rem;
    font-weight: 700;
  }
</style>
