---
import SiteFooter from "../components/SiteFooter/SiteFooter.astro"
import SiteHeader from "../components/SiteHeader/SiteHeader.astro"


export interface Props {
  title?: string | undefined
  description?: string | undefined
}

const {
  title,
  description = "Build contracts with ease",
} = Astro.props

---
<!DOCTYPE html>
<html
  class=" bg-amber-50 text-gray-800 p-2 lg:p-3 antialiased h-full overflow-hidden"
  lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width"
      name="viewport" />
    <link
      href="/favicon.ico"
      rel="icon"
      type="image/x-icon" />
    <title>Contracts Builder{title ? " · " + title : ""}</title>
    <meta
      content={description}
      name="description" />
  </head>

  <body class="rounded-lg shadow-lg drop-shadow-md bg-gray-50 px-2 lg:px-3 h-full flex flex-col overflow-y-auto">
    <SiteHeader />
    <div class="container flex-grow">
      <slot name="body" />
    </div>
    <SiteFooter />
  </body>

  <!-- TODO: partytown -->
	<!-- <script type="text/partytown" src="fancy-analytics.js"></script> -->
</html>
